client_max_body_size 20M;

server {

  server_name 127.0.0.1;

  location / {
    root   /usr/share/nginx/html;
    index  index.html index.htm;
  }
}

server {
  listen 443 ssl;
  listen [::]:443 ssl;

  server_name www.liinda.ru;

  ssl_certificate /etc/ssl/certs/nginx-selfsigned.crt;
  ssl_certificate_key /etc/ssl/private/nginx-selfsigned.key;

  location /api {
    rewrite /api(/.*) $1 break;
    proxy_pass http://web;
  }

  location / {
    root   /usr/share/nginx/html;
    index  index.html index.htm;
  }

}

server {
  listen 443 ssl;
  listen [::]:443 ssl;

  server_name thupoll.liinda.ru;

  ssl_certificate /etc/ssl/certs/thupoll.crt;
  ssl_certificate_key /etc/ssl/private/thupoll.key;

  location / {
    root   /usr/share/nginx/html;
    index  index.html index.htm;
  }

}
